header{
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-top: 1.25rem;

}
nav ol{
    display: flex;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(800px);
    list-style: none;
    counter-reset: my-counter;
    padding-block: 2.375rem;
    padding-right:1rem;
    padding-left: 8.4375rem;
}
nav li{
    margin-inline: 1.5rem;
    counter-increment: my-counter;
    font-family: "Barlow Condensed", sans-serif ;
    font-weight: 500 ; /* Regular*/
    font-size: 1rem;
    line-height: 19.2%;
    letter-spacing: 0.125rem;
}
nav li::before{
    content: counter(my-counter, decimal-leading-zero);
    padding-right: 0.75rem;
    font-weight: 700; /* Bold */
}
nav li a{
    color: var(--color-white);
    text-decoration: none;
}
nav img{
    height: 3rem;
    width: 3rem;
}

.inline-line{
    height: 1px;
    width: 100%;
    background-color: var(--color-white);
    opacity: 25%;
    margin-left: 4rem;
}